/* -----------------------------------------
   Container
   ----------------------------------------- */

$container-spacing: 36px;
// $container-spacing-desktop: 40px;

.container {
    margin: 0 auto;
    max-width: $page-max-width;
    
    &.container-medium {
        padding-left:  $container-spacing;
        padding-right: $container-spacing;
        max-width: 1088px + ($container-spacing * 2);
    }

    &.container-large {
        padding-left:  $container-spacing;
        padding-right: $container-spacing;
    }

    &.container-wide {
        max-width: 1600px;
        padding-left:  $container-spacing;
        padding-right: $container-spacing;
    }
}
