/* -----------------------------------------
   Inputs
   ----------------------------------------- */


/**
 * Base input styles.
 */
.input {
    -webkit-appearance: none;       /* removing inner shadow on iOS inputs */
    -webkit-font-smoothing: inherit;
    box-sizing: border-box;
    transition: all .2s ease;
    background: none;
    border: none;
    color: $base-text-color;
    display: inline-block;
    font-family: $base-font-family;
    font-size: 14px;
    padding: 0;                     /* remove browser defaults */
    vertical-align: middle;
    width: 100%;

    &:focus {
        outline: none;

        @include input-placeholder {
            transition: .3s ease .4s;
            opacity: 0;
        } 
    }

    &:invalid {
        box-shadow: none;  /* fixes mozilla red outline (shadow) */
    }

    &[readonly] {
        cursor: text;
    }

    &::-ms-clear {
        display: none; /* remove IE clear icon */
    }

    @include input-placeholder {
       color: $base-text-color;
    }
}

/**
 * Primary input.
 */
.input-primary {
    background-color: #fff;
    border: 1px solid #918D8D;
    color: $base-title-color;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
    padding: 0 13px;

    @include input-placeholder {
        color: #918D8D;
    }    
}

.input-select {
    color: $base-title-color;

    &.error {
        color: $base-title-color;
    }

    &:invalid {
        color: #918D8D;
    }
}

.caret {
    position: relative;

    &:before,
    &:after {
        content: '';
        pointer-events: none;
        position: absolute;
    }

    &:before {
        border-right: 2px solid #484848;
        border-top: 2px solid #484848;
        height: 8px;
        right: 16px;
        top: 16px;
        transform: rotate(135deg);
        width: 8px;
    }

    &:after {
        background-color: #918D8D;
        content: '';
        height: 42px;
        right: 40px;
        position: absolute;
        top: 0;
        width: 1px;
    }
}

/**
 * Textarea input.
 */
.input-textarea {
    border: 1px solid #918D8D;
    background-color: #fff;
    border-radius: 3px;
    resize: none;
    height: 42px;
    padding: 10px;
    min-height: 0;
    transition: all .2s ease;

    &:focus {
        min-height: 50px;
    }

    @include input-placeholder {
        color: #918D8D;
    }   
}

.input-textarea-large {
    height: 96px;

    &:focus {
        min-height: 100px;
    }
}


.input-date {
    background-image: url('/images/icon-calendar.svg');
    background-repeat: no-repeat;
    background-position: center right 12px;
}

.input-checkbox {
    display: none;

    &:checked {
        
        + .input-checkbox-label {

            &:after {
                display: block;
            }
        }
    }
}

.input-checkbox-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 9px;
    line-height: 1.1;
    position: relative;

    &:before {
        content:'';
        cursor: pointer;
        background-color: transparent;
        border: 1px solid $color-primary;
        display: inline-block;
        flex-shrink: 0;
        height: 18px;
        vertical-align: middle;
        width: 18px;
        margin-right: 5px;
    }

    &:after {
        content: '';
        display: none;
        position: absolute;
        top: 3px;
        left: 7px;
        width: 5px;
        height: 10px;
        border: solid $base-title-color;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
    }
}

//custom checkbox
.input-checkbox,
.input-radio {
    display: none;

    &:checked {
        + .checkbox-label,
        + .radio-label {

            &:before {
                background-color: #3C3D3B;
                border-color: #3C3D3B;

                .shortlist-overlay & {
                    background-color: $color-secondary;
                    border-color: $color-secondary;
                }
            }
        }
    }
}

.checkbox-form-group,
.radio-form-group {
    position: relative;
    cursor: pointer;
}

.checkbox-label,
.radio-label {
    color: $base-title-color;
    font-size: 14px;

    .shortlist-overlay & {
        font-size: 14px;
    }

    &:before {
        content:'';
        -webkit-appearance: none;
        border: 1px solid #acacac;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        height: 25px;
        display: inline-block;
        margin-right: 8px;
        position: relative;
        vertical-align: middle;
        width: 25px;
    }

    &:after {
        content: '';
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: block;
        position: absolute;
        top: 6px;
        left: 9px;
        width: 7px;
        height: 13px;
        transform: rotate(40deg);
    }
}

.radio-label {

    &:before {
        border-radius: 50%;
        padding: 10px;
    }

    &:after {
        top: 8px;
        left: 8px;
    }
}

.checkbox-form-group {

    &:not(:last-child) {
        padding-bottom: 10px;
    }
}

.radio-form-group {
    padding-bottom: 10px;
}

//Form field
.form-field {
    position: relative;

    .error {
        color: red;
        font-size: 9px;
        left: 0;
        position: absolute;
        top: 100%;
    }
}