/* -----------------------------------------
   Customers reviews
   ----------------------------------------- */

.customer-reviews {
    background-color: #f8f8f8;
    padding: 50px 0;

    @include breakpoint(phone) {
        margin: 0 -12px 0 -35px;
    }

    @include breakpoint(min-tablet) {
        padding: 80px 0;
    }

    .tns-outer {
        box-shadow: 0px 0px 30px rgba(172, 169, 169, 0.161);
        background-color: #fff;
        padding: 45px 120px !important;
        position: relative;

        @include breakpoint(phone) {
            padding: 60px 30px !important;
        }
    }

    [data-controls="prev"],
    [data-controls="next"] {
        background: none;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
        z-index: 1;
    }

    [data-controls="prev"] {
        left: 30px;

        @include breakpoint(phone) {
            display: none;
        }
    }

    [data-controls="next"] {
        right: 30px;

        @include breakpoint(phone) {
            right: 15px;
        }
    }
}

.customer-reviews-title {
    padding-bottom: 44px;
    text-align: center;
}

.customer-reviews-slider-item-name {
    align-items: center;
    display: flex;
    padding-bottom: 13px;  
}

.customer-reviews-slider-item-text {
    color: #1D1D1B;
    font-size: 14px;
    line-height: 1.4;

    @include breakpoint(phone) {
        font-size: 13px;
        padding-right: 20px;
    }
}

.customer-reviews-slider-item-location {
    color: #A8A5A5;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}