/* -----------------------------------------
    Form
----------------------------------------- */

.form {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.078);

    .form-heading {
        font-size: 22px;
        padding-bottom: 15px;
    }

    .form-desc {
        color: $color-primary;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px dashed #918D8D;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .form-label {
        display: block;
        color: #1D1D1B;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 7px;
    }

    .form-field-location {
        border: 1px solid #918D8D;
        position: relative;
        padding: 7px 35px 7px 10px;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }

    .form-field {
        padding-bottom: 18px;
    }

    .form-field-half {
        padding-bottom: 6px;

        @include breakpoint(min-phone) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;
        }
    }
    
    .form-fields-hidden {
        display: none;

        &.is-visible {
            display: block;
        }
    }
}

.filter-fields-group {
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.078);
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    display: none;
    left: 0;
    padding: 30px 35px 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    .is-active & {
        display: block;
    }

}

.filter-clear {
    color: #60605F;
    font-size: 14px;
}

.filter-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    position: relative;
    margin-top: 20px;

    &:before {
        background-color: rgba(193, 193, 193, 0.502);
        content: '';
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}