/* -----------------------------------------
   Breadcrumbs
   ----------------------------------------- */

.breadcrumbs {
    background-color: #F6F6F6;
    padding: 10px 0;

    .menu-is-active & {
        display: none;
    }
    
    @include breakpoint(min-phone) {
        background-color: #fff;
        margin-bottom: 20px;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1015;
    }
}

.breadcrumbs-nav {
    font-size: 9px;
    max-width: 1138px;
    margin: 0 auto;
    padding: 0 25px;
}

.breadcrumbs-nav-link {
    color: $base-title-color;

    &:hover {
        color: $color-primary;
    }

    &.is-active {
        pointer-events: none;
    }
}