/* -----------------------------------------
    Map
----------------------------------------- */

.property-map {
    position: relative;
}

.property-map-line {
    border-bottom: 1px solid rgba(168, 165, 165, .75);
    padding-bottom: 70px;
    margin-bottom: 10px;

    @include breakpoint(phone) {
        display: none;
    }
}

.property-map-heading {
    padding-bottom: 30px;
}

.map {
    padding-bottom: 125%;

    @include breakpoint(phone) {
        margin: 0 -35px;
    }

    @include breakpoint(min-tablet) {
        padding-bottom: 48.7%;
    }

    .map-infobox-image {
        max-width: 137px;
    }

    .gm-style .gm-style-iw {
        border-radius: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
        padding: 13px 10px 20px !important;
    }

    .gm-style .gm-style-iw-d {
        overflow: auto !important;
    }

    .gm-ui-hover-effect {
        display: none !important;
    }

    .map-infobox {
        text-align: center;
    }

    .map-infobox-title {
        margin: 8px 0px;
        font-weight: 500;
        font-size: 13px;
    }

    .map-infobox-link {
        display: inline-block;
        color: #3C3C3B;
        font-size: 11px;
        font-weight: 600;

        &:after {
            background-color: $color-primary;
            content: '';
            display: block;
            height: 3px;
            margin-top: 3px;
        }
    }
}