/* -----------------------------------------
    Our promise
----------------------------------------- */

.promises {
    background-color: #f8f8f8;
}

.promises-inner {
    display: grid;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
    padding: 40px 0;
    
    @include breakpoint(min-tablet) {
        align-items: start;
        grid-template-columns: auto 390px;
        padding: 80px 0;
    }
}

.promises-form {
    max-width: 384px;
    margin: 0 auto;
}

.promises-title {
    padding-bottom: 50px;
    text-align: center;

    @include breakpoint(min-tablet) {
        text-align: left;
    }
}


.promises-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    text-align: center;

    @include breakpoint(min-phone) {
        grid-template-columns: repeat(2, minmax(320px, 340px));
        justify-content: center;
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.promises-list-item-title {
    padding: 30px 0 10px;
}

.promises-list-item-text {
    font-size: 15px;
}