// -----------------------------------------
//  Default setings
// ----------------------------------------- 


$color-primary:									#F95658;
$color-secondary:								#000000;

// Basic styles
$base-background-color:                         #fff;
$base-border-color:                             rgba(#dddcdc, .5);
$base-border-radius:                            2px;
$base-font-family:                              'Poppins', sans-serif;
$second-font-family:							$base-font-family;
$base-font-size:                                17px;
$base-line-height:                              25px;
$base-link-color:                               $color-primary;
$base-selection-background-color:               rgba(#F95658, .7);
$base-selection-text-color:                     #fff;
$base-text-color:                               #60605F;
$base-title-color:                              #1D1D1B;
$second-title-color:                            #fff;


// Layout
$spacing-unit:                                  $base-line-height;
$spacing-unit--small:                           round($spacing-unit / 2);
$page-max-width:                                1364px;


// Breakpoints
$phone: 500px;
$tablet-small: 768px;
$tablet: 1024px;
$tablet-landscape: 1366px;
$laptop: 1280px;
$laptop-large: 1440px;
$desktop: 1525px;
$calcPaddingLeft: calc((100vw - 1089px)/2);
