@charset "UTF-8";
/*------------------------------------*    #Project styles
\*------------------------------------*/
/* -----------------------------------------
   PX to REM function
   ----------------------------------------- */
/* -----------------------------------------
   Mixins
   ----------------------------------------- */
/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* -----------------------------------------
   Selection
   ----------------------------------------- */

::selection {
  background: rgba(249, 86, 88, 0.7);
  color: #fff;
  text-shadow: none;
}

/* -----------------------------------------
   Page
   ----------------------------------------- */
/**
 * High-, page-level styling.
 */
html {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 1.47059;
  background-color: #fff;
  color: #60605F;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh;
  padding-top: 55px;
}

@media (min-width: 501px) {
  body {
    padding-top: 105px;
  }
}

.site-main {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.color-primary {
  color: #F95658;
}

strong {
  font-weight: 600;
  color: #1D1D1B;
}

@media (min-width: 501px) {
  .phone {
    display: none;
  }
}

@media (min-width: 1025px) {
  .tablet {
    display: none;
  }
}

.desktop {
  display: none;
}

@media (min-width: 1025px) {
  .desktop {
    display: block;
  }
}

.desktop-inline {
  display: none;
}

@media (min-width: 1025px) {
  .desktop-inline {
    display: inline-block;
  }
}

.page-intro {
  padding: 30px 0 30px;
}

@media (min-width: 1025px) {
  .page-intro {
    padding: 50px 0 60px;
  }
}

.page-intro-title {
  padding-bottom: 25px;
  font-size: 28px;
}

@media (min-width: 1025px) {
  .page-intro-title {
    max-width: 45%;
    font-size: 38px;
  }
}

.page-intro-text {
  color: #918d8d;
  font-size: 20px;
}

@media (min-width: 1025px) {
  .page-intro-text {
    font-size: 26px;
    max-width: 70%;
  }
}

.ul-type-default {
  list-style-type: none;
  padding-top: 10px;
}

.ul-type-default li {
  padding-bottom: 5px;
}

.ul-type-1 {
  margin-bottom: 40px;
}

.ul-type-1 li {
  -ms-flex-align: baseline;
      align-items: baseline;
  display: -ms-flexbox;
  display: flex;
  color: #1D1D1B;
  font-weight: 600;
  list-style-type: none;
  line-height: normal;
}

.ul-type-1 li:before {
  content: "";
  left: 2px;
  height: 7px;
  border-color: #F95658;
  border-width: 3px;
  border-style: solid;
  border-top: none;
  border-right: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  top: 4px;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  width: 13px;
}

/* -----------------------------------------
   Headings
   ----------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #1D1D1B;
  line-height: 1.1;
  margin: 0;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

@media (min-width: 1025px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.07;
}

h4 {
  font-size: 15px;
}

.heading-info-icon {
  display: inline-block;
  border-radius: 50%;
  background-color: #F95658;
  height: 42px;
  line-height: 42px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 42px;
}

.heading-info-text {
  box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.173);
  border-radius: 22px;
  font-size: 10px;
  font-weight: 500;
  margin-left: -23px;
  padding: 7px 20px 7px 30px;
  text-transform: uppercase;
}

/* -----------------------------------------
   Links
   ----------------------------------------- */
a {
  color: #F95658;
  text-decoration: none;
  transition: all .25s ease;
}

a:hover {
  opacity: .7;
}

/* -----------------------------------------
   Images
   ----------------------------------------- */
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */
}

/**
 * 1. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
img[width],
img[height] {
  /* [1] */
  max-width: none;
}

/* -----------------------------------------
   Container
   ----------------------------------------- */
.container {
  margin: 0 auto;
  max-width: 1364px;
}

.container.container-medium {
  padding-left: 36px;
  padding-right: 36px;
  max-width: 1160px;
}

.container.container-large {
  padding-left: 36px;
  padding-right: 36px;
}

.container.container-wide {
  max-width: 1600px;
  padding-left: 36px;
  padding-right: 36px;
}

/* -----------------------------------------
   Icons
   ----------------------------------------- */
.icon {
  display: inline-block;
  fill: currentColor;
  height: 16px;
  vertical-align: middle;
  width: 16px;
}

.icon-27-23 {
  height: 23px;
  width: 27px;
}

.icon-15-16 {
  height: 16px;
  width: 15px;
}

.icon-20-20 {
  height: 20px;
  width: 20px;
}

.icon-29-27 {
  height: 27px;
  width: 29px;
}

.icon-31-34 {
  height: 34px;
  width: 31px;
}

.icon-32-34 {
  height: 34px;
  width: 32px;
}

.icon-33-34 {
  height: 34px;
  width: 33px;
}

.icon-57-63 {
  height: 63px;
  width: 57px;
}

.icon-59-61 {
  height: 61px;
  width: 59px;
}

.icon-56-61 {
  height: 61px;
  width: 56px;
}

.icon-64-63 {
  height: 63px;
  width: 64px;
}

.icon-star {
  line-height: 0;
  padding-left: 15px;
}

.icon-6-12 {
  height: 12px;
  width: 6px;
}

.icon-27-24 {
  height: 24px;
  width: 27px;
}

.icon-25-25 {
  height: 25px;
  width: 25px;
}

.icon-31-22 {
  height: 22px;
  width: 31px;
}

.icon-22-21 {
  height: 21px;
  width: 22px;
}

.icon-48-36 {
  height: 36px;
  width: 48px;
}

.icon-15-14 {
  height: 14px;
  width: 15px;
}

.icon-10-13 {
  height: 13px;
  width: 10px;
}

.icon-11-12 {
  height: 12px;
  width: 11px;
}

.icon-46-40 {
  height: 40px;
  width: 46px;
}

/* -----------------------------------------
   Tiny slider
   ----------------------------------------- */
.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  transition: all 0s;
}

.tns-slider > .tns-item {
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: '';
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal,
.tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}

.tns-vpfix > div,
.tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.3333333%;
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: '';
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.4285714%;
  width: calc(100% / 70);
  height: 10px;
  float: left;
}
/*! jQuery UI - v1.12.1 - 2020-10-22
* http://jqueryui.com
* Includes: core.css, datepicker.css, slider.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=&folderName=base&cornerRadiusShadow=8px&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=5px&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=aaaaaa&iconColorError=cc0000&fcError=5f3f3f&borderColorError=f1a899&bgTextureError=flat&bgColorError=fddfdf&iconColorHighlight=777620&fcHighlight=777620&borderColorHighlight=dad55e&bgTextureHighlight=flat&bgColorHighlight=fffa90&iconColorActive=ffffff&fcActive=ffffff&borderColorActive=003eff&bgTextureActive=flat&bgColorActive=007fff&iconColorHover=555555&fcHover=2b2b2b&borderColorHover=cccccc&bgTextureHover=flat&bgColorHover=ededed&iconColorDefault=777777&fcDefault=454545&borderColorDefault=c5c5c5&bgTextureDefault=flat&bgColorDefault=f6f6f6&iconColorContent=444444&fcContent=333333&borderColorContent=dddddd&bgTextureContent=flat&bgColorContent=ffffff&iconColorHeader=444444&fcHeader=333333&borderColorHeader=dddddd&bgTextureHeader=flat&bgColorHeader=e9e9e9&cornerRadius=3px&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
  /* support: IE8 */
}

.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}

/* Icons
----------------------------------*/
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: .5em;
  top: .3em;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1em;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}

.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

.ui-widget-content a {
  color: #333333;
}

.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}

.ui-widget-header a {
  color: #333333;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: #454545;
  text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 1px solid #cccccc;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
  color: #2b2b2b;
  text-decoration: none;
}

.ui-visual-focus {
  box-shadow: 0 0 3px 1px #5e9ed6;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
  border: #003eff;
  background-color: #ffffff;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

.ui-state-checked {
  border: 1px solid #dad55e;
  background: #fffa90;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #777620;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #f1a899;
  background: #fddfdf;
  color: #5f3f3f;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #5f3f3f;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #5f3f3f;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  /* support: IE8 */
  font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  /* support: IE8 */
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* support: IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
.ui-icon {
  width: 16px;
  height: 16px;
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
  background: #aaaaaa;
  opacity: .3;
  filter: Alpha(Opacity=30);
  /* support: IE8 */
}

.ui-widget-shadow {
  box-shadow: 0px 0px 5px #666666;
}

.datepicker .ui-datepicker-calendar {
  font-size: 12px;
}

.datepicker .ui-widget-content {
  border: none;
}

.datepicker .ui-widget-header {
  background-color: transparent;
  border: none;
}

.datepicker .ui-datepicker-title {
  font-size: 15px;
  font-weight: 500;
}

.datepicker .ui-datepicker-prev.ui-corner-all,
.datepicker .ui-datepicker-next.ui-corner-all {
  border: 1px solid #cdcdcd;
  height: 25px;
  width: 35px;
  line-height: 22px;
  text-align: center;
}

.datepicker .ui-datepicker-prev.ui-corner-all:before,
.datepicker .ui-datepicker-next.ui-corner-all:before {
  content: '\2190';
  font-size: 17px;
  color: #9a9a9a;
}

.datepicker .ui-datepicker-prev.ui-corner-all:hover,
.datepicker .ui-datepicker-next.ui-corner-all:hover {
  background-color: #fff;
}

.datepicker .ui-datepicker-prev.ui-corner-all:before {
  content: '\2190';
}

.datepicker .ui-datepicker-next.ui-corner-all:before {
  content: '\2192';
}

.datepicker .ui-icon-circle-triangle-w {
  display: none !important;
}

.datepicker td.ui-datepicker-current-day {
  background: #000;
}

.datepicker .ui-state-default {
  border: none;
  background: none;
  text-align: center;
}

.datepicker .ui-datepicker td {
  border: 1px solid #E7E9E9;
}

.datepicker .ui-datepicker-today.ui-state-disabled {
  opacity: 1;
}

.datepicker .ui-datepicker-today.ui-state-disabled .ui-state-default {
  color: #f95658;
  opacity: .35;
}

.datepicker .ui-state-active {
  color: #fff;
}

.datepicker tbody .ui-datepicker-week-end {
  background-color: #f2f2f2;
}

.datepicker .ui-datepicker-other-month.ui-datepicker-unselectable {
  background-color: #fff;
  border: none;
}

/* -----------------------------------------
   Header
   ----------------------------------------- */
.header {
  background-color: #fff;
  box-shadow: inset 0px -2px 0 #f6f6f6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1015;
}

.header-inner {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  max-width: 1138px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
}

@media (min-width: 501px) {
  .header-inner {
    height: 70px;
  }
}

.header-left {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-locations {
  font-size: 12px;
  font-weight: 500;
  display: none;
}

@media (min-width: 769px) {
  .header-locations {
    display: inherit;
  }
}

.header-search-field {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.161);
  margin-left: 40px;
  margin-right: 20px;
  padding: 8px 13px;
  display: none;
}

@media (max-width: 768px) {
  .search-is-active .header-search-field {
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    background-color: #fff;
    left: 25px;
    right: 25px;
  }
}

@media (min-width: 769px) {
  .header-search-field {
    display: -ms-flexbox;
    display: flex;
  }
}

.header-search-field .header-search-input {
  font-size: 12px;
  max-width: 100%;
  width: 180px;
}

.header-search-icon {
  margin-right: 10px;
}

.header-right {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 769px) {
  .header-right-search {
    display: none;
  }
}

.header-phone-text {
  font-size: 12px;
  display: none;
}

@media screen and (min-width: 1050px) {
  .header-phone-text {
    display: block;
  }
}

.header-phone-text:after {
  content: '';
  background-color: rgba(145, 141, 141, 0.4);
  height: 34px;
  display: inline-block;
  margin: 0 13px;
  vertical-align: middle;
  width: 1px;
}

.header-phone {
  color: #1D1D1B;
  display: none;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 1025px) {
  .header-phone {
    display: block;
  }
}

.header-quote-button {
  background-color: #F95658;
  border-radius: 14px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
  padding: 3px 10px;
}

@media (min-width: 1025px) {
  .header-quote-button {
    padding: 5px 24px;
    margin-left: 20px;
  }
}

.header-menu-button {
  display: block;
  position: relative;
  height: 20px;
  margin-left: 15px;
  width: 25px;
}

@media (min-width: 1025px) {
  .header-menu-button {
    margin-left: 40px;
  }
}

.header-menu-button-line {
  background-color: #000000;
  display: inline-block;
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  transition: all .25s ease;
  width: 25px;
}

.menu-is-active .header-menu-button-line {
  background-color: transparent;
}

.header-menu-button-line:before, .header-menu-button-line:after {
  content: '';
  background-color: #000000;
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  transition: all .25s ease;
}

.menu_active .header-menu-button-line:before, .menu_active .header-menu-button-line:after {
  top: 0;
}

.header-menu-button-line:before {
  top: -7px;
}

.menu-is-active .header-menu-button-line:before {
  top: 2px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.header-menu-button-line:after {
  top: 7px;
}

.menu-is-active .header-menu-button-line:after {
  top: 2px;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.header-nav {
  display: none;
  left: 25px;
  position: absolute;
  padding: 25px 0;
  right: 25px;
  top: 100%;
}

.menu-is-active .header-nav {
  display: -ms-grid;
  display: grid;
}

.header-nav:before {
  content: '';
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.161);
  left: -1000px;
  right: -1000px;
  bottom: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.header-nav-primary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 10px;
}

@media (min-width: 501px) {
  .header-nav-primary {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

.header-nav-primary.is-hidden {
  display: none;
}

.header-nav-secondary {
  display: none;
}

.header-nav-secondary.is-active {
  display: block;
}

.header-nav-secondary-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 40px;
}

.header-nav-item {
  list-style: none;
}

.header-nav-item-title {
  color: #1D1D1B;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

.header-nav-item-link {
  color: #1D1D1C;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}

.header-nav-item-link + .header-nav-item-label {
  margin-top: -5px;
}

.header-nav-item-link-last {
  font-size: 14px;
  color: #918D8D;
}

.header-nav-item-label {
  display: block;
  font-size: 11px;
  padding-bottom: 10px;
}

.header-nav-item-text {
  font-size: 14px;
  line-height: normal;
  padding-bottom: 15px;
}

.header-nav-item-social-text {
  margin-left: 10px;
}

/* -----------------------------------------
   Footer
   ----------------------------------------- */
.footer {
  background: white;
  z-index: 1000;
  position: relative;
}

.footer-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 74px 0;
}

@media (max-width: 500px) {
  .footer-nav {
    display: block;
  }
}

@media (min-width: 1025px) {
  .footer-nav {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .footer-nav-item-coworking {
    display: none;
  }
}

@media (max-width: 500px) {
  .footer-nav-item:not(:first-child) {
    display: none;
  }
}

.footer-nav-item-list,
.footer-nav-item-text {
  font-size: 12px;
}

.footer-nav-item-text {
  font-size: 1.6;
}

.footer-nav-item-text p {
  padding-bottom: 10px;
}

.footer-nav-item-list-quick {
  font-size: 14px;
}

.footer-nav-item-list {
  list-style: none;
}

.footer-nav-item-list li {
  padding-bottom: 8px;
}

.footer-nav-item-list-link {
  color: #60605F;
}

.footer-nav-item-list-link:hover {
  color: #F95658;
}

.footer-nav-item-title {
  font-size: 14px;
  padding-bottom: 20px;
}

.footer-newsletter {
  background-color: #1D1D1B;
  padding: 27px 0;
}

@media (max-width: 500px) {
  .footer-newsletter {
    padding: 40px 0;
  }
}

.footer-newsletter-text {
  font-size: 15px;
  text-align: center;
  padding-bottom: 25px;
}

@media (min-width: 1025px) {
  .footer-newsletter-text {
    padding-bottom: 0;
    text-align: left;
  }
}

.footer-newsletter-text > * {
  color: #ffffff;
}

@media (min-width: 501px) {
  .newsletter-form {
    display: -ms-flexbox;
    display: flex;
  }
}

.newsletter-form .newsletter-form-btn {
  padding: 0 67px;
}

@media (max-width: 500px) {
  .newsletter-form .newsletter-form-btn {
    margin-top: 14px;
    width: 100%;
  }
}

.newsletter-form-input {
  margin-right: 16px;
}

.footer-newsletter-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 480px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .footer-newsletter-inner {
    padding: 0 40px;
  }
}

@media (min-width: 1025px) {
  .footer-newsletter-inner {
    -ms-grid-columns: .8fr 1fr;
        grid-template-columns: .8fr 1fr;
    max-width: 890px;
  }
}

.footer-nav-bottom {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 22px 0;
}

@media (max-width: 500px) {
  .footer-nav-bottom {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }
}

.footer-nav-bottom-left {
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

@media (max-width: 500px) {
  .footer-nav-bottom-left {
    margin-top: 15px;
  }
}

.footer-nav-bottom-links {
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.footer-nav-bottom-links-item {
  color: #1D1D1B;
}

.footer-nav-bottom-links-item + .footer-nav-bottom-links-item:before {
  content: '|';
  padding: 0 5px;
}

.footer-nav-bottom-copy {
  color: #969292;
}

@media (max-width: 500px) {
  .footer-nav-bottom-copy {
    display: none;
  }
}

.footer-nav-bottom-right-link {
  padding: 0 5px;
}

/* -----------------------------------------
   Inputs
   ----------------------------------------- */
/**
 * Base input styles.
 */
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all .2s ease;
  background: none;
  border: none;
  color: #60605F;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input:focus::-webkit-input-placeholder {
  transition: .3s ease .4s;
  opacity: 0;
}

.input:focus:-moz-placeholder {
  transition: .3s ease .4s;
  opacity: 0;
}

.input:focus::-moz-placeholder {
  transition: .3s ease .4s;
  opacity: 0;
}

.input:focus:-ms-input-placeholder {
  transition: .3s ease .4s;
  opacity: 0;
}

.input:invalid {
  box-shadow: none;
  /* fixes mozilla red outline (shadow) */
}

.input[readonly] {
  cursor: text;
}

.input::-ms-clear {
  display: none;
  /* remove IE clear icon */
}

.input::-webkit-input-placeholder {
  color: #60605F;
}

.input:-moz-placeholder {
  color: #60605F;
}

.input::-moz-placeholder {
  color: #60605F;
}

.input:-ms-input-placeholder {
  color: #60605F;
}

/**
 * Primary input.
 */
.input-primary {
  background-color: #fff;
  border: 1px solid #918D8D;
  color: #1D1D1B;
  border-radius: 3px;
  height: 42px;
  line-height: 42px;
  padding: 0 13px;
}

.input-primary::-webkit-input-placeholder {
  color: #918D8D;
}

.input-primary:-moz-placeholder {
  color: #918D8D;
}

.input-primary::-moz-placeholder {
  color: #918D8D;
}

.input-primary:-ms-input-placeholder {
  color: #918D8D;
}

.input-select {
  color: #1D1D1B;
}

.input-select.error {
  color: #1D1D1B;
}

.input-select:invalid {
  color: #918D8D;
}

.caret {
  position: relative;
}

.caret:before, .caret:after {
  content: '';
  pointer-events: none;
  position: absolute;
}

.caret:before {
  border-right: 2px solid #484848;
  border-top: 2px solid #484848;
  height: 8px;
  right: 16px;
  top: 16px;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
  width: 8px;
}

.caret:after {
  background-color: #918D8D;
  content: '';
  height: 42px;
  right: 40px;
  position: absolute;
  top: 0;
  width: 1px;
}

/**
 * Textarea input.
 */
.input-textarea {
  border: 1px solid #918D8D;
  background-color: #fff;
  border-radius: 3px;
  resize: none;
  height: 42px;
  padding: 10px;
  min-height: 0;
  transition: all .2s ease;
}

.input-textarea:focus {
  min-height: 50px;
}

.input-textarea::-webkit-input-placeholder {
  color: #918D8D;
}

.input-textarea:-moz-placeholder {
  color: #918D8D;
}

.input-textarea::-moz-placeholder {
  color: #918D8D;
}

.input-textarea:-ms-input-placeholder {
  color: #918D8D;
}

.input-textarea-large {
  height: 96px;
}

.input-textarea-large:focus {
  min-height: 100px;
}

.input-date {
  background-image: url("/images/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
}

.input-checkbox {
  display: none;
}

.input-checkbox:checked + .input-checkbox-label:after {
  display: block;
}

.input-checkbox-label {
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-size: 9px;
  line-height: 1.1;
  position: relative;
}

.input-checkbox-label:before {
  content: '';
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #F95658;
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 18px;
  vertical-align: middle;
  width: 18px;
  margin-right: 5px;
}

.input-checkbox-label:after {
  content: '';
  display: none;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid #1D1D1B;
  border-width: 0 1px 1px 0;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.input-checkbox,
.input-radio {
  display: none;
}

.input-checkbox:checked + .checkbox-label:before,
.input-checkbox:checked + .radio-label:before,
.input-radio:checked + .checkbox-label:before,
.input-radio:checked + .radio-label:before {
  background-color: #3C3D3B;
  border-color: #3C3D3B;
}

.shortlist-overlay .input-checkbox:checked + .checkbox-label:before, .shortlist-overlay
.input-checkbox:checked + .radio-label:before, .shortlist-overlay
.input-radio:checked + .checkbox-label:before, .shortlist-overlay
.input-radio:checked + .radio-label:before {
  background-color: #000000;
  border-color: #000000;
}

.checkbox-form-group,
.radio-form-group {
  position: relative;
  cursor: pointer;
}

.checkbox-label,
.radio-label {
  color: #1D1D1B;
  font-size: 14px;
}

.shortlist-overlay .checkbox-label, .shortlist-overlay
.radio-label {
  font-size: 14px;
}

.checkbox-label:before,
.radio-label:before {
  content: '';
  -webkit-appearance: none;
  border: 1px solid #acacac;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  height: 25px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  vertical-align: middle;
  width: 25px;
}

.checkbox-label:after,
.radio-label:after {
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: block;
  position: absolute;
  top: 6px;
  left: 9px;
  width: 7px;
  height: 13px;
  -ms-transform: rotate(40deg);
      transform: rotate(40deg);
}

.radio-label:before {
  border-radius: 50%;
  padding: 10px;
}

.radio-label:after {
  top: 8px;
  left: 8px;
}

.checkbox-form-group:not(:last-child) {
  padding-bottom: 10px;
}

.radio-form-group {
  padding-bottom: 10px;
}

.form-field {
  position: relative;
}

.form-field .error {
  color: red;
  font-size: 9px;
  left: 0;
  position: absolute;
  top: 100%;
}

/* -----------------------------------------
   Buttons
   ----------------------------------------- */
.btn {
  background: none;
  border: none;
  display: inline-block;
  line-height: normal;
  margin: 0;
  /* remove margin for some browsers */
  padding: 0;
  /* remove padding in Firefox */
  transition: all .2s ease;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.btn:focus {
  outline: none;
}

/**
 * Primary button.
 */
.btn-primary,
.btn-secondary {
  -webkit-font-smoothing: inherit;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  height: 42px;
  line-height: 43px;
  padding: 0 37px;
  /**
     * @disabled
     */
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 1;
  background-color: #f83d40;
}

.btn-primary:disabled,
.btn-secondary:disabled {
  opacity: 0.5;
  cursor: default !important;
}

.btn-primary {
  background-color: #F95658;
  color: #fff;
}

.btn-primary:hover img {
  -ms-transform: translateX(5px);
      transform: translateX(5px);
}

.btn-primary img {
  margin-left: 5px;
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.btn-secondary {
  color: #1D1D1B;
  border: 1px solid #F95658;
  line-height: 40px;
}

.btn-secondary:hover {
  background-color: #F95658;
  color: #fff;
}

.btn-small {
  height: 30px;
  line-height: 30px;
  padding: 0 28px;
  font-size: 15px;
}

.btn-black {
  background-color: #000;
  padding: 0 50px;
}

.btn-full {
  width: 100%;
}

/* -----------------------------------------
   Customers reviews
   ----------------------------------------- */
.customer-reviews {
  background-color: #f8f8f8;
  padding: 50px 0;
}

@media (max-width: 500px) {
  .customer-reviews {
    margin: 0 -12px 0 -35px;
  }
}

@media (min-width: 1025px) {
  .customer-reviews {
    padding: 80px 0;
  }
}

.customer-reviews .tns-outer {
  box-shadow: 0px 0px 30px rgba(172, 169, 169, 0.161);
  background-color: #fff;
  padding: 45px 120px !important;
  position: relative;
}

@media (max-width: 500px) {
  .customer-reviews .tns-outer {
    padding: 60px 30px !important;
  }
}

.customer-reviews [data-controls="prev"],
.customer-reviews [data-controls="next"] {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  outline: none;
  z-index: 1;
}

.customer-reviews [data-controls="prev"] {
  left: 30px;
}

@media (max-width: 500px) {
  .customer-reviews [data-controls="prev"] {
    display: none;
  }
}

.customer-reviews [data-controls="next"] {
  right: 30px;
}

@media (max-width: 500px) {
  .customer-reviews [data-controls="next"] {
    right: 15px;
  }
}

.customer-reviews-title {
  padding-bottom: 44px;
  text-align: center;
}

.customer-reviews-slider-item-name {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 13px;
}

.customer-reviews-slider-item-text {
  color: #1D1D1B;
  font-size: 14px;
  line-height: 1.4;
}

@media (max-width: 500px) {
  .customer-reviews-slider-item-text {
    font-size: 13px;
    padding-right: 20px;
  }
}

.customer-reviews-slider-item-location {
  color: #A8A5A5;
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
}

/* -----------------------------------------
    Map
----------------------------------------- */
.property-map {
  position: relative;
}

.property-map-line {
  border-bottom: 1px solid rgba(168, 165, 165, 0.75);
  padding-bottom: 70px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .property-map-line {
    display: none;
  }
}

.property-map-heading {
  padding-bottom: 30px;
}

.map {
  padding-bottom: 125%;
}

@media (max-width: 500px) {
  .map {
    margin: 0 -35px;
  }
}

@media (min-width: 1025px) {
  .map {
    padding-bottom: 48.7%;
  }
}

.map .map-infobox-image {
  max-width: 137px;
}

.map .gm-style .gm-style-iw {
  border-radius: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.161);
  padding: 13px 10px 20px !important;
}

.map .gm-style .gm-style-iw-d {
  overflow: auto !important;
}

.map .gm-ui-hover-effect {
  display: none !important;
}

.map .map-infobox {
  text-align: center;
}

.map .map-infobox-title {
  margin: 8px 0px;
  font-weight: 500;
  font-size: 13px;
}

.map .map-infobox-link {
  display: inline-block;
  color: #3C3C3B;
  font-size: 11px;
  font-weight: 600;
}

.map .map-infobox-link:after {
  background-color: #F95658;
  content: '';
  display: block;
  height: 3px;
  margin-top: 3px;
}

/* -----------------------------------------
    Our promise
----------------------------------------- */
.promises {
  background-color: #f8f8f8;
}

.promises-inner {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 100px;
  grid-row-gap: 30px;
  padding: 40px 0;
}

@media (min-width: 1025px) {
  .promises-inner {
    -ms-flex-align: start;
        align-items: start;
    -ms-grid-columns: auto 390px;
        grid-template-columns: auto 390px;
    padding: 80px 0;
  }
}

.promises-form {
  max-width: 384px;
  margin: 0 auto;
}

.promises-title {
  padding-bottom: 50px;
  text-align: center;
}

@media (min-width: 1025px) {
  .promises-title {
    text-align: left;
  }
}

.promises-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 40px;
  text-align: center;
}

@media (min-width: 501px) {
  .promises-list {
    -ms-grid-columns: (minmax(320px, 340px))[2];
        grid-template-columns: repeat(2, minmax(320px, 340px));
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (min-width: 1025px) {
  .promises-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.promises-list-item-title {
  padding: 30px 0 10px;
}

.promises-list-item-text {
  font-size: 15px;
}

/* -----------------------------------------
   Breadcrumbs
   ----------------------------------------- */
.breadcrumbs {
  background-color: #F6F6F6;
  padding: 10px 0;
}

.menu-is-active .breadcrumbs {
  display: none;
}

@media (min-width: 501px) {
  .breadcrumbs {
    background-color: #fff;
    margin-bottom: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1015;
  }
}

.breadcrumbs-nav {
  font-size: 9px;
  max-width: 1138px;
  margin: 0 auto;
  padding: 0 25px;
}

.breadcrumbs-nav-link {
  color: #1D1D1B;
}

.breadcrumbs-nav-link:hover {
  color: #F95658;
}

.breadcrumbs-nav-link.is-active {
  pointer-events: none;
}

/* -----------------------------------------
    Form
----------------------------------------- */
.form {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.078);
}

.form .form-heading {
  font-size: 22px;
  padding-bottom: 15px;
}

.form .form-desc {
  color: #F95658;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px dashed #918D8D;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.form .form-label {
  display: block;
  color: #1D1D1B;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 7px;
}

.form .form-field-location {
  border: 1px solid #918D8D;
  position: relative;
  padding: 7px 35px 7px 10px;
}

.form .search-icon {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 15px;
}

.form .form-field {
  padding-bottom: 18px;
}

.form .form-field-half {
  padding-bottom: 6px;
}

@media (min-width: 501px) {
  .form .form-field-half {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}

.form .form-fields-hidden {
  display: none;
}

.form .form-fields-hidden.is-visible {
  display: block;
}

.filter-fields-group {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.078);
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  display: none;
  left: 0;
  padding: 30px 35px 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.is-active .filter-fields-group {
  display: block;
}

.filter-clear {
  color: #60605F;
  font-size: 14px;
}

.filter-nav {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 23px;
  position: relative;
  margin-top: 20px;
}

.filter-nav:before {
  background-color: rgba(193, 193, 193, 0.502);
  content: '';
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* -----------------------------------------
   Popular cities
   ----------------------------------------- */
.cities-intro {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-grid;
  display: grid;
  margin-left: auto;
  margin-bottom: 50px;
}

@media (min-width: 501px) {
  .cities-intro {
    max-width: 80%;
  }
}

@media (min-width: 1025px) {
  .cities-intro {
    -ms-grid-columns: 1.3fr 1.6fr;
        grid-template-columns: 1.3fr 1.6fr;
    grid-column-gap: 100px;
    max-width: 100%;
    margin: 0;
  }
}

.cities-intro-text {
  background-color: #fff;
  max-width: 80%;
  margin-top: -120px;
  padding: 25px 25px 0;
}

@media (min-width: 501px) {
  .cities-intro-text {
    max-width: 400px;
    margin-top: -150px;
    padding: 25px 20px 0 0;
  }
}

@media (min-width: 1025px) {
  .cities-intro-text {
    margin-top: 0;
    max-width: none;
    padding: 0 0 0 calc((100vw - 1089px)/2);
  }
}

.cities-intro-text p {
  padding: 25px 0;
}

.cities-intro-heading {
  font-size: 36px;
}

@media (min-width: 501px) {
  .cities-intro-heading {
    font-size: 46px;
  }
}

.cities-intro-img {
  width: 100%;
  -ms-flex-order: -1;
      order: -1;
}

@media (min-width: 1025px) {
  .cities-intro-img {
    -ms-flex-order: initial;
        order: initial;
  }
}

.locations {
  padding-bottom: 50px;
}

@media (min-width: 1025px) {
  .locations {
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    padding-bottom: 0;
  }
}

.locations .tns-outer {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.059);
  position: relative;
  margin-left: -10px;
  padding: 35px 0 35px 0 !important;
}

@media (min-width: 1025px) {
  .locations .tns-outer {
    border-radius: 0 30px 30px 0;
    max-width: 75%;
    padding: 35px 40px 35px 0 !important;
  }
}

.locations .tns-controls {
  display: none;
}

@media (min-width: 1025px) {
  .locations .tns-controls {
    display: block;
    position: absolute;
    right: -22px;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    z-index: 1;
  }
}

.locations [data-controls="next"] {
  background-color: #F95658;
  border-radius: 50%;
  border: none;
  display: block;
  outline: none;
  height: 42px;
  width: 42px;
  z-index: 40;
}

.locations [data-controls="prev"] {
  display: none;
}

.locations .location-slider-item-img {
  transition: transform .2s ease-in;
  width: 100%;
}

.locations .location-slider-item-link {
  border-radius: 15px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.locations .location-slider-item-link:before {
  background-image: linear-gradient(transparent 0%, rgba(15, 15, 15, 0.502) 100%);
  bottom: 0;
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  top: 10%;
  z-index: 10;
}

.locations .location-slider-item-link:hover {
  opacity: 1;
}

.locations .location-slider-item-link:hover .location-slider-item-img {
  -ms-transform: scale(1.05);
      transform: scale(1.05);
}

.locations .location-slider-item-data {
  bottom: 0;
  left: 0;
  position: absolute;
  padding-bottom: 15px;
  right: 0;
  text-align: center;
  z-index: 20;
}

.locations .location-slider-item-data-name {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
}

@media (max-width: 500px) {
  .locations .location-slider-item-data-name {
    font-size: 17px;
    padding-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .most-popular-cities {
    padding-bottom: 30px;
  }
}

.most-popular-cities-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
}

@media (max-width: 500px) {
  .most-popular-cities-list {
    grid-auto-flow: column;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 -35px;
  }
}

@media (min-width: 501px) {
  .most-popular-cities-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  .most-popular-cities-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

.most-popular-cities-list-item {
  border: 1px solid #C8C7C6;
}

@media (max-width: 500px) {
  .most-popular-cities-list-item {
    min-width: 218px;
  }
}

.most-popular-cities-heading {
  padding-bottom: 25px;
}

.most-popular-cities-list-item-image {
  position: relative;
}

.most-popular-cities-list-item-image img {
  width: 100%;
}

.most-popular-cities-list-item-price {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  bottom: 10px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  left: 10px;
  padding: 2px 4px;
  position: absolute;
}

.most-popular-cities-list-item-price .per-month {
  font-size: .5em;
}

.most-popular-cities-list-item-name {
  font-size: 15px;
  padding: 15px 20px;
}

.most-popular-cities-list-item-data {
  list-style-type: none;
  color: #1D1D1B;
  font-size: 12px;
  padding: 0 20px 10px;
}

.most-popular-cities-list-item-data li {
  padding-bottom: 5px;
}

.most-popular-cities-list-item-explore {
  color: #F95658;
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  padding: 0 20px 10px 0;
}

.most-popular-cities-more-link {
  padding: 50px 0 10px;
  text-align: center;
}

.explore-working {
  padding: 50px 0;
}

@media (min-width: 501px) {
  .explore-working {
    padding: 90px 0;
  }
}

.explore-working-heading {
  padding-bottom: 25px;
}

.explore-working-info {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 45px;
  padding-bottom: 45px;
}

@media (min-width: 501px) {
  .explore-working-info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    grid-gap: 25px;
  }
}

@media (max-width: 500px) {
  .explore-working-info-item {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .explore-working-info-image {
    margin: 0 -35px;
  }
}

.explore-working-info-item-part {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
}

.explore-working-info-item-part:not(:last-child) {
  padding-bottom: 20px;
}

.explore-working-info-item-part p {
  font-size: 13px;
}

.explore-working-info-item-part-image {
  border-radius: 50%;
}
