/* -----------------------------------------
   Popular cities
   ----------------------------------------- */

//Cities intro
.cities-intro {
    align-items: center;
    display: grid;
    margin-left: auto;
    margin-bottom: 50px;
    
    @include breakpoint(min-phone) {
        max-width: 80%;
    }
    
    @include breakpoint(min-tablet) {
        grid-template-columns: 1.3fr 1.6fr;
        grid-column-gap: 100px;
        max-width: 100%;
        margin: 0;
    }
}

.cities-intro-text {
    background-color: #fff;
    max-width: 80%;
    margin-top: -120px;
    padding: 25px 25px 0;

    @include breakpoint(min-phone) {
        max-width: 400px;
        margin-top: -150px;
        padding: 25px 20px 0 0;
    }

    @include breakpoint(min-tablet) {
        margin-top: 0;
        max-width: none;
        padding: 0 0 0 $calcPaddingLeft;
    }

    p {
        padding: 25px 0;
    }
}

.cities-intro-heading {
    font-size: 36px;

    @include breakpoint(min-phone) {
        font-size: 46px;
    }
}

.cities-intro-img {
    width: 100%;
    order: -1;
    
    @include breakpoint(min-tablet) {
        order: initial;
    }
}

//Locations slider
.locations {
    padding-bottom: 50px;

    @include breakpoint(min-tablet) {
        transform: translateY(-50%);
        padding-bottom: 0;
    }

    .tns-outer {
        background-color: #fff;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.059);
        position: relative;
        margin-left: -10px;
        padding: 35px 0 35px 0 !important;

        @include breakpoint(min-tablet) {
            border-radius: 0 30px 30px 0;
            max-width: 75%;
            padding: 35px 40px 35px 0 !important;
        }
    }

    .tns-controls {
        display: none;

        @include breakpoint(min-tablet) {
            display: block;
            position: absolute;
            right: -22px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }
    }

    [data-controls="next"] {
        background-color: $color-primary;
        border-radius: 50%;
        border: none;
        display: block;
        outline: none;
        height: 42px;
        width: 42px;
        z-index: 40;
    }

    [data-controls="prev"] {
        display: none;
    }

    .location-slider-item-img {
        transition: transform .2s ease-in;
        width: 100%;
    }

    .location-slider-item-link {
        border-radius: 15px;
        display: block;
        position: relative;
        overflow: hidden;
        z-index: 10;
    
        &:before {
            background-image: linear-gradient(rgba(0, 0, 0, 0%) 0%, rgba(15, 15, 15, 0.502) 100%);
            bottom: 0;
            content: '';
            left: 0;
            right: 0;
            position: absolute;
            top: 10%;
            z-index: 10;
        }
    
        &:hover {
            opacity: 1;
    
            .location-slider-item-img {
                transform: scale(1.05);
            }
        }
    
    }
    
    .location-slider-item-data {
        bottom: 0;
        left: 0;
        position: absolute;
        padding-bottom: 15px;
        right: 0;
        text-align: center;
        z-index: 20;
    }

    .location-slider-item-data-name {
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 10px;

        @include breakpoint(phone) {
            font-size: 17px;
            padding-bottom: 5px;
        }
    }
}

//most popular cities
.most-popular-cities {
    
    @include breakpoint(phone) {
        padding-bottom: 30px;
    }
}

.most-popular-cities-list {
    display: grid;
    grid-gap: 16px;
    
    @include breakpoint(phone) {
        grid-auto-flow: column;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: 0 -35px;
    }

    
    @include breakpoint(min-phone) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(min-tablet) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }
}

.most-popular-cities-list-item {
    border: 1px solid #C8C7C6;

    @include breakpoint(phone) {
        min-width: 218px;
    }
}

.most-popular-cities-heading {
    padding-bottom: 25px;
}

.most-popular-cities-list-item-image {
    position: relative;

    img {
        width: 100%;
    }
}

.most-popular-cities-list-item-price {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 4px;
    bottom: 10px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    left: 10px;
    padding: 2px 4px;
    position: absolute;

    .per-month {
        font-size: .5em;
    }
}

.most-popular-cities-list-item-name {
    font-size: 15px;
    padding: 15px 20px;
}

.most-popular-cities-list-item-data {
    list-style-type: none;
    color: $base-title-color;
    font-size: 12px;
    padding: 0 20px 10px;

    li {
        padding-bottom: 5px;
    }
}

.most-popular-cities-list-item-explore {
    color: $color-primary;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    padding: 0 20px 10px 0;
}

.most-popular-cities-more-link {
    padding: 50px 0 10px;
    text-align: center;
}

.explore-working {
    padding: 50px 0;

    @include breakpoint(min-phone) {
        padding: 90px 0;
    }
}

.explore-working-heading {
    padding-bottom: 25px;
}

.explore-working-info {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    padding-bottom: 45px;
    
    @include breakpoint(min-phone) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        grid-gap: 25px;
    }
}

.explore-working-info-item {
    
    @include breakpoint(phone) {
        max-width: 95%;
        margin: 0 auto;
    }
}

.explore-working-info-image {

    @include breakpoint(phone) {
        margin: 0 -35px;
    }
}

.explore-working-info-item-part {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
    
    &:not(:last-child) {
        padding-bottom: 20px;
    }

    p {
        font-size: 13px;
    }
}

.explore-working-info-item-part-image {
    border-radius: 50%;
}