/* -----------------------------------------
   Page
   ----------------------------------------- */

/**
 * High-, page-level styling.
 */
html {
	font-family: $base-font-family;
    font-size:  $base-font-size; 
    line-height: $base-line-height / $base-font-size;
    background-color: $base-background-color;
    color: $base-text-color;
    overflow-y: scroll;
    min-height: 100%; 
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%; 
    -moz-osx-font-smoothing: grayscale; 
     -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 55px;

    @include breakpoint(min-phone) {
        padding-top: 105px;
    }
}

.site-main {
    flex-grow: 1;
}

.color-primary {
    color: $color-primary;
}

strong {
    font-weight: 600;
    color: $base-title-color;
}

.phone {

    @include breakpoint(min-phone) {
        display: none;
    }
}

.tablet {

    @include breakpoint(min-tablet) {
        display: none;
    }
}

.desktop {
    display: none;

    @include breakpoint(min-tablet) {
        display: block;
    }
}

.desktop-inline {
    display: none;

    @include breakpoint(min-tablet) {
        display: inline-block;
    }
}

//page intro
.page-intro {
    padding: 30px 0 30px;
    
    @include breakpoint(min-tablet) {
        padding: 50px 0 60px;
    }
}

.page-intro-title {
    padding-bottom: 25px;
    font-size: 28px;

    @include breakpoint(min-tablet) {
        max-width: 45%;
        font-size: 38px;
    }
}

.page-intro-text {
    color: #918d8d;
    font-size: 20px;

    @include breakpoint(min-tablet) {
        font-size: 26px;
        max-width: 70%;
    }
}

.ul-type-default {
    list-style-type: none;
    padding-top: 10px;

    li {
        padding-bottom: 5px;
    }
}

.ul-type-1 {
    margin-bottom: 40px;

    li {
        align-items: baseline;
        display: flex;
        color: #1D1D1B;
        font-weight: 600;
        list-style-type: none;
        line-height: normal;

        &:before {
            content: "";
            left: 2px;
            height: 7px;
            border-color: $color-primary;
            border-width: 3px;
            border-style: solid;
            border-top: none;
            border-right: none;
            flex-shrink: 0;
            margin-right: 10px;
            top: 4px;
            transform: rotate(-45deg);
            width: 13px;
        }
    }
}