/* -----------------------------------------
   Headings
   ----------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $second-font-family;
    font-weight: 600;
	color: $base-title-color;
    line-height: 1.1;
    margin: 0;
	
    > a {
        color: inherit;
    }
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
    
    @include breakpoint(min-tablet) {
        font-size: 36px;
    }
}

h3 {
    font-size: 24px;
    line-height: 1.07;
}

h4 {
    font-size: 15px;
}

.heading-info {}

.heading-info-icon {
    display: inline-block;
    border-radius: 50%;
    background-color: $color-primary;
    height: 42px;
    line-height: 42px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 42px;
}

.heading-info-text {
    box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.173);
    border-radius: 22px;
    font-size: 10px;
    font-weight: 500;
    margin-left: -23px;
    padding: 7px 20px 7px 30px;
    text-transform: uppercase;
}