	<!--[if lt IE 9]>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	    <script src="assets/jquery/dist/jquery.min.js"></script>
	<!--<![endif]-->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB69b8vA_jasRQhZXhFKtIMWIUo-vPshvI&libraries=places,geometry&language=en"></script>
    <script src="js/all.min.js"></script>
    <script src="js/init.min.js"></script>
  </body>
</html>

