<section class="promises">
    <div class="container container-medium">
        <div class="promises-inner">
            <div class="promises-content">
                <h2 class="promises-title">The Easy Offices promise</h2>
                <div class="promises-list">
                    <div class="promises-list-item">
                        {{icon('icon-promise-1', 'icon-57-63')}}
                        <h4 class="promises-list-item-title">Expert advice</h4> 
                        <p class="promises-list-item-text">Trust our impartial industry experts to guide your search and help you find your ideal workspace</p>
                    </div>
                    <div class="promises-list-item">
                        {{icon('icon-promise-2', 'icon-59-61')}}
                        <h4 class="promises-list-item-title">The widest choice</h4>
                        <p class="promises-list-item-text">From affordable offices to iconic, landmarks, we put the widest choice of workspace in one place</p>
                    </div>
                    <div class="promises-list-item">
                        {{icon('icon-promise-3', 'icon-56-61')}}
                        <h4 class="promises-list-item-title">Tailored to you</h4>
                        <p class="promises-list-item-text">Everything is tailored to your needs – from service terms to our all-inclusive packages</p>
                    </div>
                    <div class="promises-list-item">
                        {{icon('icon-promise-4', 'icon-64-63')}}
                        <h4 class="promises-list-item-title">Easy end-to-end</h4>
                        <p class="promises-list-item-text">We take the frustration out of finding workspace – and make every stage of the process simple</p>
                    </div>
                </div>
            </div>
            <form class="promises-form form">
                <h3 class="form-heading">Not Sure?</h3>
                <p class="form-desc">Tell us what you want and we'll contact your with top choices</p>
                <div class="form-fields">
                    <div class="form-field js-toggle-fields">
                        <label for="location-search" class="form-label">Where do you want to work?</label>
                        <div class="form-field-location">
                            <input type="text" name="location-search" class="input" id="location-search" value="London" placeholder="City, street name or postcode">
                            {{icon('icon-search', 'search-icon icon-15-16')}}
                        </div>
                    </div>
                    <div class="form-fields-hidden">
                        <div class="form-field-half">
                            <div class="form-field">
                                <label for="people-number" class="form-label">How many people?</label>
                                <div class="caret">
                                    <select name="people-number" id="" class="input input-primary input-select" required>
                                        <option value="1">1 person</option>
                                        <option value="2">2 people</option>
                                        <option value="3">3 people</option>
                                        <option value="5">5 people</option>
                                        <option value="6">6 people</option>
                                        <option value="7">7 people</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-field">
                                <label for="start-date" class="form-label">Start date</label>
                                <div class="caret">
                                    <input type="text" name="start-date" id="datepicker" value="" placeholder="Start date" class="input input-primary datepicker" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="caret js-filter">
                                <div class="js-filter-trigger input input-primary">Choose some preferences</div>
                                <div class="filter-fields-group">
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="lifts" value="lifts">
                                        <label class="checkbox-label" for="lifts">Lift access</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="coffe-bar" value="coffe-bar">
                                        <label class="checkbox-label" for="coffe-bar">Coffee bar</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="dog-friendly" value="dog-friendly">
                                        <label class="checkbox-label" for="dog-friendly">Dog friendly</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="itsupport" value="itsupport">
                                        <label class="checkbox-label" for="itsupport">IT Support</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="bike-storage" value="bike-storage">
                                        <label class="checkbox-label" for="bike-storage">Bike storage</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="wifi" value="wifi">
                                        <label class="checkbox-label" for="wifi">Wifi</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="showers" value="showers">
                                        <label class="checkbox-label" for="showers">Showers</label>
                                    </div>
                                    <div class="checkbox-form-group">
                                        <input class="js-input-checkbox input-checkbox" type="checkbox" name="facilities" id="temp-control" value="temp-control">
                                        <label class="checkbox-label" for="temp-control">Temp control</label>
                                    </div>
                                    <div class="filter-nav">
                                        <a href="javascript:;" class="js-filter-clear filter-clear">Clear</a>
                                        <button type="button" class="js-close-filter btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-full">Confirm choices</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>