<section class="most-popular-cities">
    <div class="container container-medium">
        <h2 class="most-popular-cities-heading">Most popular offices in London</h2>
        <div class="most-popular-cities-list">
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-1.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-2.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-3.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-4.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-5.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-6.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-7.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-8.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
        </div>
        <div class="most-popular-cities-more-link">
            <a href="javascript:;" class="btn btn-primary">See all popular offices</a>
        </div>
    </div>
</section>