<section class="locations">
    <div class="location-slider">
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-1.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Soho</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-2.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Paddington</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-3.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Camden</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-4.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Covent Garden</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-1.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Mayfair</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-5.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Westminister</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-6.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Soho</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-1.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Paddington</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-2.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Camden</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-3.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Soho</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-4.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Paddington</h3>
                </div>
            </a>
        </div>
        <div class="location-slider-item">
            <a href="javascript:;" class="location-slider-item-link">
                <img src="images/popular-cities/location-5.jpg" alt="locations" class="location-slider-item-img">
                <div class="location-slider-item-data">
                    <h3 class="location-slider-item-data-name">Camden</h3>
                </div>
            </a>
        </div>
    </div>
</section>