<section class="explore-working">
    <div class="container container-medium">
        <h2 class="explore-working-heading">{{ sectionTitle }}</h2>
        <div class="explore-working-info">
            <div class="explore-working-info-image">
                <img src="images/popular-cities/explore-working-1.jpg" alt="explore working">
            </div>
            <div class="explore-working-info-item">
                <div class="explore-working-info-item-part">
                    <img src="images/popular-cities/explore-working-2.png" alt="explore working" class="explore-working-info-item-part-image">
                    <div>
                        <h4>Streed food on your lunch break</h4>
                        <p>Discover Shoreditch famous street food</p>
                    </div>
                </div>
                <div class="explore-working-info-item-part">
                    <img src="images/popular-cities/explore-working-3.png" alt="explore working" class="explore-working-info-item-part-image">
                    <div>
                        <h4>There's a lot of cofee shops</h4>
                        <p>And they're very trendy...</p>
                    </div>
                </div>
                <div class="explore-working-info-item-part">
                    <img src="images/popular-cities/explore-working-4.png" alt="explore working" class="explore-working-info-item-part-image">
                    <div>
                        <h4>After works drings are close by</h4>
                        <p>And not just on a Friday...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="most-popular-cities-list">
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-9.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-10.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-11.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
            <a href="javascript:;" class="most-popular-cities-list-item">
                <figure class="most-popular-cities-list-item-image">
                    <img src="images/popular-cities/city-12.jpg" alt="popular city name">
                    <figcaption class="most-popular-cities-list-item-price">£880 <span class="per-month">pm</span></figcaption>
                </figure>
                <h3 class="most-popular-cities-list-item-name">Oxford Street, Wl</h3>
                <ul class="most-popular-cities-list-item-data">
                    <li>{{icon('icon-people', 'icon-15-14')}} 1 person – 12 people</li>
                    <li>{{icon('icon-distance', 'icon-10-13')}} 1.4 miles</li>
                    <li>{{icon('icon-surface', 'icon-11-12')}} 200 – 1,500 sqft</li>
                </ul>
                <p class="most-popular-cities-list-item-explore">Explore space</p>
            </a>
        </div>
        <div class="most-popular-cities-more-link">
            <a href="javascript:;" class="btn btn-primary">See all {{ cityName }} offices</a>
        </div>
    </div>
</section>