<section class="property-map">
    <div class="container container-medium">
        <h2 class="property-map-heading">Map view</h2>
        <div class="property-map-items">
            <div class="js-property-item" data-property-id="property-444" data-lat="-31.56391" data-lng="147.154312" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-445" data-lat="-33.718234" data-lng="150.363181" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-446" data-lat="-33.727111" data-lng="150.371124" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-447" data-lat="-33.848588" data-lng="151.209834" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-448" data-lat="-33.851702" data-lng="151.216968" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-449" data-lat="-34.671264" data-lng="150.863657" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-450" data-lat="-35.304724" data-lng="148.662905" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-451" data-lat="-36.817685" data-lng="175.699196" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-452" data-lat="-36.828611" data-lng="175.790222" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.75" data-lng="145.116667" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.759859" data-lng="145.128708" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.765015" data-lng="145.133858" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.770104" data-lng="145.143299" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.7737" data-lng="145.145187" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.774785" data-lng="145.137978" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
            <div class="js-property-item" data-property-id="property-453" data-lat="-37.819616" data-lng="144.968119" data-name="Fleet Street" data-image="images/workspace-1.jpg"></div>
        </div>
        <div id="map" class="map"></div>
        <div class="property-map-line"></div>
    </div>
</section>