<header class="header">
    <div class="header-inner">
        <div class="header-left">
            <a href="https://www.easyoffices.com/uk" class="header-logo">
                <img itemprop="logo" src="images/logo.png" alt="Easy Offices Logo" data-country="United Kingdom">
            </a>
            <div class="header-search-field">
                {{icon('icon-search', 'header-search-icon icon-15-16')}}
                <input type="text" autocomplete="off" name="search" class="input header-search-input" id="search" value="" placeholder="City, street name or postcode">
            </div>
            <a href="javascript:;" class="js-toggle-menu-locations header-locations">Locations</a>
        </div>
        <div class="header-right">
            <a href="javascript:;" class="js-toggle-search header-right-search">{{icon('icon-search', 'icon-20-20')}}</a>
            <span class="header-phone-text">Call us now, we’re here to help</span>
            <a href="tel:02039449186" class="header-phone">020 3944 9186</span>
            <a href="javascript:;" class="header-quote-button">Get a quote</a>
            <a href="javascript:;" class="js-toggle-menu header-menu-button">
                <span class="header-menu-button-line"></span>
            </a>
        </div>
        <div class="header-nav">
            <div class="header-nav-primary">
                <ul class="header-nav-item">
                    <li><span class="header-nav-item-title">Products</span></li>
                    <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space">Office Space</a></li>
                    <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/co-working-space">Coworking</a></li>
                    <li>
                        <a class="header-nav-item-link" href="https://www.meetingo.com/en-gb">Meeting rooms</a>
                        <span class="header-nav-item-label">from our partner Meetingo</span>
                    </li>
                    <li>
                        <a class="header-nav-item-link" href="https://www.rovva.com/en-gb">Virtual office</a>
                        <span class="header-nav-item-label">from our partner Rovva</span>
                    </li>
                </ul>
                <ul class="header-nav-item">
                    <li><span class="header-nav-item-title">Information</span></li>
                    <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/about">About</a></li>
                    <li><a class="header-nav-item-link" href="#">Browse offices</a></li>
                    <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/blog">Blog</a></li>
                    <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/faq">FAQs</a></li>
                    <li><a class="header-nav-item-link" href="#">Design your office</a></li>
                </ul>
                <ul class="header-nav-item">
                    <li><span class="header-nav-item-title">Connect with us </span></li>
                    <li><a class="header-nav-item-link" href="#">Contact Us</a></li>
                    <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/register">Register your workspace</a></li>
                    <li class="header-nav-item-social">
                        <a class="header-nav-item-link" href="https://www.facebook.com/EasyOfficesGlobal/">
                            <img src="https://www.easyoffices.com/images/footer/social/facebook.jpg" alt="Facebook logo"><span class="header-nav-item-social-text">Facebook</span>
                        </a>
                    </li>
                    <li class="header-nav-item-social">
                        <a class="header-nav-item-link" href="https://twitter.com/@EasyOffices_com">
                            <img src="https://www.easyoffices.com/images/footer/social/twitter.jpg" alt="Twitter logo"><span class="header-nav-item-social-text">Twitter</span>
                        </a>
                    </li>
                    <li class="header-nav-item-social">
                        <a class="header-nav-item-link" href="https://www.linkedin.com/company/easy-offices?trk=tyah">
                            <img src="https://www.easyoffices.com/images/footer/social/linkedin.jpg" alt="Linkedin logo"><span class="header-nav-item-social-text">Linkedin</span>
                        </a>
                    </li>
                </ul>
                <ul class="header-nav-item">
                    <li><span class="header-nav-item-title">Looking for offices in another country?</span></li>
                    <li>
                        <p class="header-nav-item-text">We have offices in 116  markets. Visit our <a href="https://www.easyoffices.com">global site</a></p>
                    </li>
                </ul>
            </div>
            <div class="header-nav-secondary">
                <p class="header-nav-item-text">Looking for another location? <a href="https://www.easyoffices.com">Visit our global site</a></p>
                <div class="header-nav-secondary-list">
                    <ul class="header-nav-item">
                        <li><a class="header-nav-item-title" href="https://www.easyoffices.com/uk/serviced-office-space/london">London</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/london/mayfair">Mayfair</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/london/canary-wharf">Canary Wharf</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/london/shoreditch">Shoreditch</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/london/soho">Soho</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/london/kings-cross">Kings Cross</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">South East</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/reading">Reading</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/brighton">Brighton</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/oxford">Oxford</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/southampton">Southampton</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/milton-keynes">Milton Keynes</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">South West</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/bristol">Bristol</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/burnemouth">Bournemouth</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/bath">Bath</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/plymouth">Plymouth</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/exeter">Exeter</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">East of England</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/peterborough">Peterborough</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/cambridge">Cambridge</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/watford">Watford</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/luton">Luton</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/norwich">Norwich</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">East Midlands</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/nottingham">Nottingham</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/leicester">Leicester</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/northampton">Northampton</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/derby">Derby</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/loughborough">Loughborough</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">West Midlands</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/birmingham">Birmingham</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/coventry">Coventry</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/wolverhampton">Wolverhampton</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/solihull">Solihull</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/worcester">Worcester</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">North East</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/leeds">Leeds</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/sheffield">Sheffield</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/office-space/newcastle-upon-tyne">Newcastle upon Tyne</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/york">York</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">North West</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/manchester">Manchester</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/liverpool">Liverpool</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/office-space/bolton">Bolton</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/chester">Chester</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/stockport">Stockport</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">Scotland</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/edinburgh">Edinburgh</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/glasgow">Glasgow</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/office-space/aberdeen">Aberdeen</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/livingston">Livingston</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/stirling">Stirling</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">Wales</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/edinburgh">Cardiff</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/newport">Newport</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/office-space/swansea">Swansea</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/office-space/caerphilly">Caerphilly</a></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/wrexham">Wrexham</a></li>
                        <li><a class="header-nav-item-link-last" href="">+<span>34</span> other locations</a></li>
                    </ul>
                    <ul class="header-nav-item">
                        <li><span class="header-nav-item-title">Northern Ireland</span></li>
                        <li><a class="header-nav-item-link" href="https://www.easyoffices.com/uk/serviced-office-space/belfast">Belfast</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>