<section class="breadcrumbs">
    <nav class="breadcrumbs-nav">
        <a href="" class="breadcrumbs-nav-link">Home</a> >
        <a href="" class="breadcrumbs-nav-link">United Kingdom</a> >
        <a href="" class="breadcrumbs-nav-link">Serviced office space</a> >
        <a href="javascript:;" class="breadcrumbs-nav-link is-active">Soho</a>
    </nav>
</section>