<section class="cities-intro">
    <div class="cities-intro-text">
        <h2 class="cities-intro-heading">Your London office awaits you</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, doloribus ex. Odit neque tempora atque totam voluptates sapiente iure perspiciatis.</p>
        <a href="javascript:;" class="btn btn-primary">See all London locations</a>
    </div>
    <img src="images/popular-cities/intro.jpg" alt="popular cities" class="cities-intro-img">
</section>